<!DOCTYPE html>
<html>	
	<head>
	</head>

	<body>
		<div class = "main-text">
			<h2>More about me</h2>
			<p>Dan grew up in Minneapolis Minnesota.  He attended College at Tulane University in New Orleans, graduating with a BS in Ecology and Evolutionary Biology.  He currently resides in Minneapolis and dreams of taking life on the road, after building his own dwelling into an old U-Haul truck.

			He's juggled ever since he received a $10 juggling starter kit as one of those "I have no idea what to get my nephew" gifts one year at christmas.  Spot on Uncle Peter...

			He grows weary of cubicle life, and must, must, must break free by any means necessary.</p>
		</div>
		
	
	</body>

</html>