<!DOCTYPE html>
	<html lang=en>
		<head> <!-- latest compiled and minified bootstrap -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  		<!-- jquery is required for bootstrap to work -->
    	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    	<!-- latest bootsrap java thing -->
   		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

			<meta charset="utf-8">
			 	<link href="css/bootstrap.css" rel="stylesheet">
				<link href="css/normalize.css" rel="stylesheet">
				<link href="css/styles.css" rel="stylesheet">
			<title>About Me</title>	
			<!--[if lt IE 9]>
			<script src="dist/html5shiv.js"></script>
			<![endif-->
		</head>

		<body>
			<div class="nav">
     
      			<ul>
        			<li><a href="index.html">Home</a></li>
        			<li><a href="#">About Me</a></li>
        			<li><a href="contact.html">Contact Me</a></li>
        			<li><a href="work.html">Work</a></li>
        			<li><a href="faq.html">FAQ</a></li>
      			</ul>
	    	</div>
			<div class = "jumbotron">
				<div class ="container">
					<h1>Here's About Me</h1>
				</div>			
			</div>
			<div class = "container">
				<div class = "image">
					<img src="img/bob.jpeg" alt="bob">
				</div>
				<div class = "intro column">
					<h2> Introduction</h2>
					<p>Welcome to the Site, it is arranged to show you a bit about me, and also showcase past work, as well as what I can do for you to help you satisfy your clients.  ..   ..   ..  But like, not in a dirty way or anything..  .. </p>
				</div>
				<div class = "skills column">
					<h2>My Skills</h2>
					<ul id = "skill-list">
						<li>Solid Foundation in Site Design</li>
						<li>Black Belt Bootstrap champion</li>
						<li>Blue Ribbon Pumpkin grower</li>
						<li>Vladimir Putin level Ruby Developer</li>
						<li>Explosive coding speeds</li>
					</ul>
				</div>
				<div class = "main-text">
					<h2>More about me</h2>
					<p>Dan grew up in Minneapolis Minnesota.  He attended College at Tulane University in New Orleans, graduating with a BS in Ecology and Evolutionary Biology.  He currently resides in Minneapolis and dreams of taking life on the road, after building his own dwelling into an old U-Haul truck.

					He's juggled ever since he received a $10 juggling starter kit as one of those "I have no idea what to get my nephew" gifts one year at christmas.  Spot on Uncle Peter...

					He grows weary of cubicle life, and must, must, must break free by any means necessary.</p>
				</div>
				
			</div><!-- this is the end of the container -->
		</body>

	</html>