
<head>

    
</head>
<body>
    <div class="col-lg-6 col-md-12">
        <div class="product">    
            <a href="static_pages/about"><%= image_tag("antler.jpg", :class => "front_image") %></a>
            <p>These elk antlers are the finest quality and will produce long lasting curses and blessings when used by a properly licensed shaman</p>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="product">
            <a href="static_pages/about"><%= image_tag("man.jpg", :class => "front_image") %></a>
            <p>Shaman Swap - the new hit show on TLC that spirits are raving about</p>
        </div>
    </div>

</body>