<!DOCTYPE html>
  <html lang=en>
    <head>
    </head>
    <body>
      <div class ="container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Our Philosophy here at Sophisticated Airhead</h3>
          </div>
          <div class="panel-body">
            <p>Here at SA we want you to feel like you are better that everyone else.  Even when you pump your gas!</p>
            <p>Beyond this life we can only speculate on the treasures and trinkets the gods bestow upon us; but the radiance granted to the thespian erudite shimmers on into infinity as crisp and pure as the cerebral jizum of Cato, Socrates, and old Diogenes</p>
          </div>
        </div>
        <div class="button">
        	<div class="button">
            <%= link_to 'Back', url_for(:back), :class => 'btn'%>
          </div>
        </div>
      <div>
    </body>
  </html>