<div class="panel panel-body">
    <div class="panel-body">
        <p>Thank you for sending us a message :) </p>
    </div>
    <%= link_to 'Home', static_pages_index_path, :class => "btn btn-default" %>
</div>