<table>
    <tbody>
        <tr>
            <td><p>We received your order for <%= @product.name %></p></td>
        </tr>
        <tr>
          <td><p>Thank you for shopping with Sophisticated Airhead!</p></td>
        </tr>
        <tr>
          <td><p>Maybe Next time you could spend a little more huh?</p></td>
        </tr>
    </tbody>
</table>