
  
  <div class="col-xs-6 col-md-3 product-box">
    <p>K, you got:</p>
    <p>product number <%= order.product_id %></p>
    <p><strong>Order Total:</strong><%= order.total %></p>
    <p></p>
  </div>
