<div class = "panel panel-default">
  <p>Gee Thanks for purchasing that philosophy, let us know how you like it!</p>
  <button>
    <div class="row">
      <%= link_to('Products Listing', products_path, :type => "button" :class => "btn btn-primary") %>
      <%= link_to('Home Page', static_pages_index_path, :class => "btn btn-default") %>
    </div>
  </button>
</div>