/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/
/*
$dark-color: #262216
$brown-color: #49412C
$khaki-color: #97743A
$beige-color: #B0A18E
*/
 
 
 
 
body {
    background-color: #262216;
}


.navbar {
    background-color: #49412c;
    color: #b0a18e;
    border-color: #49412c;
    font-family: 'Goudy Bookletter 1911', Ariel, cursive;
}

#brand-logo {
    color: #262216;
}

h1 {
 color: #b0a18e;
 text-align: center;
 font-family: Raleway, helvetica, cursive;
 text-shadow: 1px 1px 1px #262216;
}

h2 {
    color: #b0a18e;
     text-align: center;
     font-family: Raleway, cursive;
}

.header {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

.navbar a {
    margin: 0px 20px 0px 20px;
}

.product {
    text-align: center;
    font-family: 'Goudy Bookletter 1911';
    padding: 60px 60px;
}

.product p {
    background-color: #DDD;
}

.footer {
    text-align: center;
    color: #DDD;
    font-family: Walter Turncoat;
    position: absolute;
    bottom: 20px;
}


