/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: #AAA;
    background-image: url("fog2.jpg");
    position: absolute;
}


.navbar {
    background-color: black;
    color: #FF0;
    border-color: black;
    -webkit-transition: color 600ms;
}

#brand-logo {
    color: #FF0;
}

h1 {
    padding: 40px 0 0 0;
 color: brown;
 text-align: center;
 font-weight: 700;
 font-family: amatic sc, cursive;
 font-size: 50pt;
}

h2{
    color: brown;
     text-align: center;
     font-weight: 700;
     font-family: amatic sc, cursive;
     font-size: 35pt;
}

.navbar a {
    margin: 0px 20px 0px 20px;
}
.navbar a:hover {
    color: #FF0;
}

.front_image {
    width: auto;
    height: auto;
    max-height: 600px;
    max-width: 600px;
}

.product {
    text-align: center;
    font-family: Walter Turncoat, amatic sc;
    padding: 60px 60px;
}

.product p {
    background-color: #DDD;
}

.glyphicon :hover {
    color: orange;
    -webkit-transition: 600ms;
}

.footer {
    text-align: center;
    color: #DDD;
    font-family: Walter Turncoat;
    position: absolute;
    bottom: 20px;
}