// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-page-container {
    background-color: #B0A18E;
    border-radius: 20px;
    width: 40%;
    min-width: 100px;
}

.login-field {
    font-family: 'Raleway', cursive;
    color: #262216;
    margin-top: 20px;
}

